#header-nav {
	background-color: #93969e;
	border-radius: 0;
	border-width: 3px;
	border-color: #000;
}

body {
	font-family: 'Gloria Hallelujah', cursive;
	background-color: #fff;
}

.navbar-brand h1 {
	color:#000;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold; 
	/*text-shadow: 1px 1px 1px #222;*/
}

.navbar-brand{
	margin-bottom: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar  {
	border: 1.5px solid #c8cbd1;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -35px;
}

#nav-list a {
	text-align: center;
	color: #000;
	font-size: 1.2em;
}

#nav-list li {
	background-color: #fff;
	border: 2px solid #000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #93969e;
}

.navbar-nav{
	margin: 0px -15px;
}

#main-content h2 {
	margin-top: 0px;
	font-weight: bold; 
}

#main-content h3 {
	font-weight: bold;
}

#main-content div.box {
	border: 1.5px solid #000;
	background-color: #93969e;
	margin: 10px -2px;
	min-height: 500px;
	padding: 0px 12px 18px 12px;
	
}

#main-content a {
	position: absolute;
	bottom: 15px;
	text-decoration: none;
	color: #610084;
}

#main-content a:hover {
	color: #8600b7;

}



