.polozky{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.polozka{
    flex-basis: 21%;
    box-sizing: border-box;
    margin: .5%;
    height: 21vw;
    background: url(w1.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.polozka h3{
    opacity: 0;
    transition: opacity 600ms;
    position: absolute;
}

.polozka:hover h3{
    opacity: 1;
}

.polozka .overlay{
    position: absolute;
    background: #fff;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 600ms;
}

.polozka .overlay:hover{
    opacity: 0.4;
}

