* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edededdc;
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.video-fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-fullscreen video {
  min-width: 100%;
  min-height: 100%;
}

.overlay {
  height: 100vh;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: #55788d;
  opacity: 0.8;
}

.landing-socials {
  z-index: 2;
}

.content {
  z-index: 2;
}

.content h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

.content p {
  font-size: 2rem;
  margin: 1rem 0;
}

.link {
  color: #002b54;
  font-weight: bold;
  cursor: pointer;
}

.btn-line {
  position: absolute;
  width: 100%;
  left: 0;
  border-radius: 9px;
  height: 7px;
  background: rgb(2, 52, 132);
  transition: all cubic-bezier(0.7, 0, 0.3, 1) 0.42s;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 40px;
  z-index: 5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  background: transparent;
  border: none;
  outline: none;
  float: right;
  border-radius: 5px;
  cursor: pointer;
}

.close-button .btn-line {
  background: #fff;
}

.close-button .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 19px;
}

.close-button .btn-line:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.projects-list {
  position: absolute;
  width: 99%;
  height: 99%;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
  z-index: -1;
  display: grid;
  grid-gap: 2vw 2vh;
  grid-template-columns: repeat(2, 1fr);
  background: #002b54;
  border-radius: 5px;
  padding: 2vh;
}


.project-overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #000;
  opacity: 0.5;
  transition: 600ms;
}

.project-overlay:hover,.project-overlay.active{
  opacity: 0;
}

.projects-list a{
  position: relative;
}
.project p{
  z-index: 4;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.projects-list.open {
  opacity: 1;
  top: 50%;
  z-index: 10;
}

.fundahmer {
  background: url('fundahmer.PNG') no-repeat bottom center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.mole {
  background: url('mole.PNG') no-repeat bottom center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.pexeso {
  background: url('pexeso.PNG') no-repeat bottom center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.todo {
  background: url('todo.PNG') no-repeat bottom center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

a {
  text-decoration: none;
  color: #ededed;
}

.project p {
  color: rgb(218, 218, 218);
  margin:0;
  padding: 0;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
}

.tools {
  font-weight: bold;
  font-size: 1.2rem;
  color: #55788d;
}

.contact-form {
  position: absolute;
  width: 99%;
  height: 99%;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
  z-index: -1;
  background: #002b54;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form.open {
  opacity: 1;
  top: 50%;
  z-index: 10;
}

.socials {
  position: absolute;
  bottom: 1.5vh;
  right: 30px;
}

.socials a {
  display: inline-block;
  margin: 12px;
  transition: 500ms cubic-bezier(0, -0.23, 1, 0.75);
}

.socials a:hover {
  color: #55788d;
}

.contact-detail {
  width: 60%;
}

.contact-detail h2{
  margin-top: -3vh;
  margin-bottom: 5px;
}

.contact-detail form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vh 20px;
}

.contact-detail form label {
  display: block;
  text-align: left;
  margin-bottom: 1.5vh;
}

.full {
  grid-column: 1/3;
}

.contact-detail form button,
.contact-detail form textarea,
.contact-detail form input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #55788d;
}

.contact-detail form button {
  background: #55788d;
  text-transform: uppercase;
  color: #ededed;
  font-weight: 700;
  transition: 1200ms ease-out;
  cursor: pointer;
}

.contact-detail form button:hover {
  color: #ededed;
  background: #002b54;
}

.landing-socials a:hover {
  color: #002b54;
}
