body {
  font-family: 'Oswald', sans-serif;
  background: #fff url('../images/2.png') repeat-y center center scroll;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 2vw;
}


.masthead{
  display: table;
  width: 100%;
  height: auto;
  padding: 10% 0 80% 0;;
  text-align: center;
  background: url(../images/head.png) no-repeat bottom center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#main-logo{
  width:24%;
}

.navbar{
  background: transparent;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  border:0px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 3px 0;
  border-radius: 0;
}

.nav>li>a{
  border-radius: 8px;
  font-size: 1.2vw;
}

.nav>li>a:hover{
  background: rgba(255, 255, 255, 0.1);
}

#hacemos{
  background: url('../images/hacemos.png') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 25%;
  padding-bottom: 12%;
  color: #fff;
}

#programas{
  background: url('../images/programas.png') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 22%;
  padding-bottom: 46%;
  margin-top: -17%;
  color: #fff;

}

.button-programas{
  color: #fff;
  padding: 2% 18%;
  border: 2px solid white;
  border-radius: 10px;
}

.programas-butt-description{
  text-transform: uppercase;
  margin-bottom: 4%;
  font-weight: bold;
}

.button-programas:hover{
  color: #fff;
  text-decoration: none;
  background: rgba(255,255,255,0.5);
}

#contacto{
  background: url('../images/contacto.png') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4%;
  padding-bottom: 6%;
  margin: 4% 0;
  color: #fff;
}

table{
  text-align: left;
  margin: 0 2%;
}

td:first-child{
  padding-right: 5%;
}

.mx-auto{
  padding: 0 5%;
}

@media (min-width: 425px){
  .mx-auto{
    padding: 0 22%;
  }
}

@media (min-width: 1840px){
  .mx-auto{
    padding: 0;
  }
}

#idealist_logo{
  width: 20% ;
  float: left;
  margin-left: 3%
}

#idealist_description{
  text-align: left;
  margin-left: 30%;
  margin-bottom: 4%;
  padding-top: 6%; 
}

#voluntariado{
  color: #2f4e84;
}

#email_cebes{
  color: #3372cc;
}

#sicsal{
  width: 15%;
}

#logo-bottom{
  width: 34%;
  margin:0 6%;
}

#family{
  width: 28%;
}

#google, #youtube, #facebook{
  width: 12%;
  margin-top: 3%;
}

#facebook{
  margin-right: 3%;
  margin-left: 3%;

}

#footer{
  background: url('../images/contacto.png') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4%;
  padding-bottom: 6%;
  margin-top:5%;
  color: #fff;
}

.mx-auto h2 {
  text-transform: uppercase;
  font-size: 7.2vw;
}

#programas h2{
  text-transform: uppercase;
  font-size: 7.2vw;
}

#somos{
  color: #2f4e84;
}

#somos h2{
  color: #7e8eb6;
  margin-bottom: 8%;
}

#hacemos h2{
  color: #efefef;
  margin-bottom: 8%;
}

#programas h2{
  color: #efefef;
  margin-bottom: 8%;
}

#voluntariado h2{
  color: #7e8eb6;
  margin-bottom: 8%;
}

#contacto h2{
  margin-bottom: 8%;
}

#link-hacemos, #link-somos,#link-programas,#link-voluntariado,#link-contacto{
  position: absolute;
  margin-top: -50px;
}